<div class="usp-bar-icon">
    <svg
        fill="none"
        height="11"
        width="20"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#delivery-car_svg__clip0)">
            <path d="M.5.012h18.993v9.403H.5V.012z" fill="#fff"></path>
            <path
                clip-rule="evenodd"
                d="M8.924 6.48h10.569V.012H8.923V6.48z"
                fill-rule="evenodd"
                fill="currentcolor"></path>
            <path
                clip-rule="evenodd"
                d="M8.212 3.952c0 .275-.203.498-.452.498H4.05c-.248
                    0-.383-.32-.224-.531l1.634-2.15a.636.636 0 01.504-.26h1.79c.252 0
                    .457.227.457.507v1.936zM8.1 5.32c0 .114-.084.207-.188.207h-.54c-.104
                    0-.187-.093-.187-.207v-.25c0-.115.083-.207.187-.207h.54c.104 0
                    .188.092.188.206v.251zm6.905 1.444H8.58L8.61.989H5.877s-.381.023-.596.298a679.66
                    679.66 0 00-2.135 2.839s-.166.266-.308.3C2.698 4.46.5 5.158.5
                    5.77v2.04h1.81s.58-1.29 1.932-1.29c1.353 0 2.21 1.179 2.221
                    2.872h7.361s-.145-1.825 1.18-2.63z"
                fill-rule="evenodd"
                fill="currentcolor"></path>
            <path
                clip-rule="evenodd"
                d="M2.173 9.415H1.164C.797 9.415.5 9.086.5 8.68v-.456h1.673v1.19zM17.013
                    8.95c0-.601-.441-1.089-.985-1.089s-.985.488-.985 1.088c0 .601.44 1.089.985
                    1.089.544 0 .985-.488.985-1.089zM5.26 8.95c0-.601-.441-1.089-.985-1.089S3.29 8.35
                    3.29 8.95c0 .601.44 1.089.985 1.089.544 0 .985-.488.985-1.089z"
                fill-rule="evenodd"
                fill="currentcolor"></path>
            <path
                clip-rule="evenodd"
                d="M4.275 6.907c-1.022 0-1.85.914-1.85 2.042 0 1.129.828 2.043 1.85 2.043 1.021 0
                    1.85-.914 1.85-2.043 0-1.128-.829-2.042-1.85-2.042zm0 .822c.609 0 1.104.548 1.104
                    1.22 0 .673-.495 1.22-1.104 1.22-.61 0-1.105-.547-1.105-1.22 0-.672.496-1.22
                    1.105-1.22zM17.034 6.764s1.441 1.027 1.12 2.619c.082-.005 1.26 0 1.26
                    0V6.764h-2.38z"
                fill-rule="evenodd"
                fill="currentcolor"></path>
            <path
                clip-rule="evenodd"
                d="M16.028 6.907c-1.022 0-1.85.914-1.85 2.042 0 1.129.828 2.043 1.85 2.043 1.021
                    0 1.85-.914 1.85-2.043 0-1.128-.829-2.042-1.85-2.042zm0 .822c.609 0 1.105.548
                    1.105 1.22 0 .673-.496 1.22-1.105 1.22-.61 0-1.105-.547-1.105-1.22
                    0-.672.496-1.22 1.105-1.22z"
                fill-rule="evenodd"
                fill="currentcolor"></path>
        </g>
        <defs>
            <clipPath>
                <path d="M0 0h19v11H0z" fill="#fff" transform="translate(.5)"></path>
            </clipPath>
        </defs>
    </svg>
</div>