<div class="usp-bar-icon">
    <svg fill="none" height="24" width="25" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12.5" cy="12" fill="#fff" r="12"></circle>
        <path
            d="M6.848 20.645c.357.333.793.286.858.28V3.678a1.082 1.082 0
                00-.858.28c-.363.34-.35.792-.347.854v14.979c-.003.063-.016.515.347.854zM12.32
                13.569h-.113c-.022 0-.037.016-.037.037v.566c0 .022.015.04.037.04h.114c.021 0
                .04-.018.04-.04v-.566c0-.021-.019-.037-.04-.037zM12.979 13.569h-.111c-.022
                0-.04.016-.04.037v.566c0 .022.018.04.04.04h.11c.022 0
                .04-.018.04-.04v-.566c0-.021-.018-.037-.04-.037zM13.64 13.569h-.114c-.022
                0-.04.016-.04.037v.566c0 .022.018.04.04.04h.113c.022 0
                .037-.018.037-.04v-.566c0-.021-.015-.037-.037-.037zM14.297 13.569h-.113c-.022
                0-.037.016-.037.037v.566c0 .022.015.04.037.04h.113c.022 0
                .037-.018.037-.04v-.566c0-.021-.015-.037-.037-.037z"
            fill="currentcolor"></path>
        <path
            d="M18.5 19.788V4.809c0-.666-.535-1.209-1.187-1.209l-9.094.075v17.247c3.032.028
                6.063.053 9.094.078.652 0 1.187-.547 1.187-1.212zm-3.271-4.344a.214.214 0
                01-.212.213H11.7a.214.214 0
                01-.212-.213v-.515h3.741v.515zm0-3.562v2.61h-3.741v-2.61c-.643
                0-1.166-.534-1.166-1.193 0-.66.523-1.194 1.166-1.194.298 0 .571.113.774.302a1.17
                1.17 0 011.095-.78c.504 0 .931.324 1.097.78.206-.189.477-.302.775-.302.643 0
                1.165.534 1.165 1.194 0 .66-.522 1.193-1.165 1.193z"
            fill="currentcolor"></path>
    </svg>
</div>