<div class="usp-bar-icon">
    <svg fill="none" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" fill="#fff" r="12"></circle>
        <g clip-path="url(#heart-usp_svg__clip0)">
            <path
                clip-rule="evenodd"
                d="M19.931 10.329c-.017-2.93-1.74-5.29-4.278-5.273-1.735.013-2.321 1.78-3.587
                    1.79-1.265.009-2.116-1.749-3.85-1.736C5.677 5.128 3.983 7.514 4
                    10.443c.005.787.13 1.543.345 2.265 0 0 .195.651.367 1.009 1.965 4.578 6.166 6.886
                    6.166 6.886.634.348 1.666.34 2.296-.017 0 0 4.174-2.367 6.084-6.973 0 0
                    .246-.614.355-1.015a8.455 8.455 0 00.319-2.27z"
                fill-rule="evenodd"
                fill="currentcolor"></path>
        </g>
        <defs>
            <clipPath>
                <path d="M0 0h16v16H0z" fill="#fff" transform="translate(4 5)"></path>
            </clipPath>
        </defs>
    </svg>
</div>