<div class="usp-bar-container" id="usp-bar">
    <div class="usp-bar-content active-message">
        {% render 'icon-usp-shipping' %}
        <span class="usp-bar-text">{{ section.settings.usp_bar_text_shipping }}</span>
    </div>
    <div class="usp-bar-content">
        {% render 'icon-usp-heart' %}
        <span class="usp-bar-text">{{ section.settings.usp_bar_text_heart }}</span>
    </div>
    <div class="usp-bar-content">
        {% render 'icon-usp-recipe' %}
        <span class="usp-bar-text">{{ section.settings.usp_bar_text_recipe }}</span>
    </div>
</div>